<!DOCTYPE html>
<html>
  <head>
    <title>Alohomora></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1>Hola</h1>
    <p>Welcome to Oracle</p>

    <script src="../data/heroes.json"></script>
    <pre></pre>
  </body>

</html>
